*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.blog-edit {
  flex-direction: column;
  width: 70%;
  height: 600px;
  max-height: 100vh;
  justify-content: center;
  padding: 50px 80px;
  position:absolute;
  gap: 20px;
  align-items: center;
  z-index: 100;
  background:#eff5f7;
  margin-left:10%;
  box-shadow: 0 0 400px 50px rgba(0, 0, 0, 1);
  border-radius: 12px;
  display: none;
}

.blog-edit input {
  width:100%;
 max-width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #9d9e9d;
  padding-left: 10px;
  font-size: 14px;
}
.blog-edit textarea {
  width: 100%;
  max-width:600px;
  border-radius: 8px;
  border: 2px solid #9d9e9d;
  padding:10px 20px;
}
.up-btns a {
  border: 1px solid #ff6000;
  color: #ff6000;
  padding: 4px 8px;
  border-radius: 5px;
  margin-left: 10px;
}
.up-btns {
  align-self: center;
}

.blog-edit > a i {
  color: #ff6000;
  font-size: 32px;
  margin-right: 10px;
}
.blog-edit > a {
  color: #000;
  font-weight: 600;
}
.blog-edit h3 {
  font-size: 32px;
}
#img-preview {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: none;
}
#img-preview img {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.btn-cancel{
  border:1px solid var(--primary-color);
  padding:8px 16px;
  border-radius: 6px;
  color:#ff6000;
  font-size: 18px;
}
.blogEditMessage{
  color:red;
}

