

*,*::after,*::before{
box-sizing: border-box;
margin:0;
padding: 0;
text-decoration:none;
list-style: none;
}


:root{
    --primary-color:#FF6000;
    --navBackground-color:#3D3F3C;
    --nav-color:#d9d9d9;
    --border-radius-size:5px;
}
body{
    font-family:'inria Sans',sans-serif;
    font-size:16px;
}

.logo{
width: 100px;
height: 100px;
overflow: hidden;
position: relative;
}
.logo img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: auto;
}


.nav-bar{
    position: fixed;
    left: 0;
    width:200px;
    height:100% ;
    background: var(--navBackground-color);
    z-index:100;
  
}
.nav-bar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    padding-left: 20px;
    transition:.4sec  ;
    color:var(--nav-color)
}
.nav-bar li i{
    margin-right: 16px;
}
.nav-bar .toggle-bar{
  position:absolute;
  top:30px;
  right:-25px;
  width:25px;
  height:25px;
  background:var(--primary-color);
  display:flex;
  justify-content:center;
  align-items:center;
}
.nav-bar-small{
  width:70px;
  margin-right:1300px;
}
.flip{
  transform:scaleX(-1)
}
.disappear{
  opacity: 0;
}

 section{
  margin-bottom: 100px;
 }

 ul li a.active{
    color:var(--primary-color)
 }
 .dashboard-main-container{
    width: calc(100vw-200px);
    padding-left: 70px;
 }
 
 .logo{
    margin-inline: auto;
 }

 .message-notifications{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary-color);
    color:var(--nav-color);
    justify-content: center;
    align-items: center;
    display: flex;
    position:absolute;
    right: 20px;
    top:22px;
    font-size: 12px;
 }
 #section4-message{
    position: relative;
 }

 #section2-blog{
    position:relative ;
 }


 .notification-bell {
    position: relative;
    display: inline-block;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    
  }
  
  .fa-bell {
    font-size: 30px;
    color:var(--navBackground-color)
  }


  header .search-bar{
    display:flex;
    height: 70px;
    justify-content:center;
    gap:50px;
    align-items: center;
    /* padding: 0 30px; */
    width:100%;
  }
  header .search-bar .search-bar-input{
    width: 60%;
  }

  header .search-bar .current-user{
    width:20%;
    font-size:16px;
  }
  header .search-bar .current-user i{
    font-size: 30px;
    margin-right: 10px;
  }
  header .search-bar .search-bar-input{
    height:40px;
    position: relative;
  }
  header .search-bar .search-bar-input input{
    height: 100%;
    width: 100%;
    border-radius:var(--border-radius-size);
    outline: none;
    border: 2px solid var(--navBackground-color);

  }
  header .search-bar .search-bar-input i{
    position: absolute;
    right:10px ;
    top:10px;
    font-size: 25px;
    color: var(--navBackground-color);
  }
  header .search-bar .search-bar-btn{
    padding: 4px 8px;
    width: fit-content;
    color:#d9d9d9;
    font-size: 18px;
    font-weight:600;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-size);
  }
  header .search-bar .current-user{
    width: fit-content;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .search-bar .current-user i{
    color: var(--navBackground-color);
  }
  
  
  .dashboard-cards .dashboard-card{
    width: 200px;
    padding: 5px 10px;
    color: #d9d9d9;
    background: var(--navBackground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius-size);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .dashboard-cards .dashboard-card .dashboard-card-title{
    color:#ffff;
    font-weight: bold;
    font-size:26px;
    line-height: 70px;
    height: 100%;
  }
  .dashboard-cards{
    display:flex;
     width: 50%;
     margin-left: 10px;
     flex-wrap: wrap;
     gap:10px;
     margin-top:20px;
  }
  .dashboard-cards .dashboard-card i{
    margin-left: 20px;
  }
  .dashboard-cards .dashboard-card .dashboard-card-subtitle{
    font-size: 24px;
    font-weight: 600;
  }
  .dashboard-blog-item .dashboard-blog-img{
    width: 200px;
    height:100px;
    overflow: hidden;
    position: relative;
  }
.dashboard-blog-item .dashboard-blog-img img{
  width: 100%;
  object-fit: cover;
  height: auto;
}
.dashboard-blog-item {
  display: flex;
  margin-inline:30px;
  border-bottom: 1px solid #d9d9d9;
  width:80%;
  margin-bottom:10px;
}
.dashboard-blog-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.dashboard-blog-item .dashboard-blog-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0 30px;
  flex: 1;
}
.dashboard-blog-item .dashboard-blog-description h4{
  font-size: 24px;
  
}
.dashboard-blog-item .dashboard-blog-description .dashboard-blog-description-foot{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-bottom:10px;
}

.dashboard-blogs h3{
  margin-left: 30px;
  font-size: 32px;
  margin-bottom: 20px;
}

.dashboard-blog-description-foot .dashboard-blog-description-foot-item i{
  margin-right:5px;
  cursor: pointer;
}
.dashboard-blog-description-foot .dashboard-blog-description-foot-item a{
  color:#3D3F3C;
}


/* Users */

.users-table{
  width:80%;
  margin-top:40px;
  margin-inline:20px;
  border:1px solid #d9d9d9;
  border-radius:5px;
  border-collapse:collapse;
  overflow:hidden;
  
}
.users-table thead{
  background:rgba(0,0,0,0.2);
  height :40px;
  overflow:hidden;
}
.users-table td{
  padding:12px 18px;
  border:1px solid #d9d9d9;

}




#section3 h3{
  margin-left: 30px;
  font-size: 32px;
}
.dashboard-messages{
  width:80%;
}

.dashboard-messages h3{
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.dashboard-messages .dashboard-message-item{
  padding: 5px 10px;
  border-bottom: 1px solid #d9d9d9;
  margin-inline: 30px;
  position: relative;
  margin-bottom:10px;
}
.dashboard-messages .dashboard-message-item h4{
  margin-bottom: 10px;
}
.dashboard-messages .dashboard-message-item .dashboard-message-item-date{
  font-weight:bold;
  position: absolute;
  right: 0;
  bottom: 0;
}
.dashboard-messages .dashboard-message-item:hover{
  background: #f0f1ef;
  cursor: pointer;
}
.dashboard-message-item .ellipsis{
position: absolute;
top:5px;
right:5px;
}
.collapsible{
  display: none;

}
.dashboard-message-item .message-options .reply,.delete{
  margin-bottom:10px;
  
}
.dashboard-message-item .message-options .reply{
  color:green;
}
.dashboard-message-item .message-options .delete{
  color:red;
}
.dashboard-message-item .message-options{
position: absolute;
top:25px;
right:5px;
border-radius: 5px;
z-index: 10;

}
/* btn */
 #section2{
  position: relative;
 }
.btn{
  padding:4px 6px;
  border:1px solid var(--primary-color);
  color:var(--primary-color);
  border-radius:var(--border-radius-size);
  position:absolute;
  top:30px;
  right:60px;
}
