@media screen and (max-width:1200px){
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
}

/* tablet view */
@media screen  and (max-width:980px){
    .blogs-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
       }
       
      .search-bar{
        margin-top: 50px;
       flex-direction: column;
      }
      .search-bar .search-control{
        width: 100%;
      }
      .search-bar .sort-control{
        margin-top:30px;
        align-self: flex-end;
      }
}
@media screen  and (max-width:932px){
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.1rem;
    }
    .login-form{
        width: 80%;
    }
    .search-bar .search-control{
        grid-row: 1fr;
        margin-bottom: 30px;
        grid-column: 1fr;
      }
      .search-bar .sort-control{
        grid-row: 1fr;
        grid-column: 1fr;
      }
}
@media screen and (max-width:890px) {
    .home-page{
        flex-direction: column-reverse;
        gap: 0;
    }
    .home-page .right-container{
        align-self: center;
        padding:20px ;
    }
    .home-page .left-container{
        align-self: center;
        padding: 20px;
        margin-top: 0;
        gap: 10px;
    }
    .home-page .right-container .home-img{
        width: 300px;
        
    }
    .login-form{
        width: 80%;
    }
    .contact-page{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap:20px
      }
      .contact-page .contact-addresses{
        grid-row: 1fr;
      }
      .contact-page .contact-form{
          grid-row: 1fr;
      }
      .blogs-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
       }
      
    
}
@media screen  and (max-width:550px){
    header nav{
        flex-wrap: wrap;
    }
    header nav ul{
        display:block;
        width: 100%;
    }
    header nav ul li{
  border-bottom: 1px solid #d9d9d9;
    }


    header nav ul li>a{
        line-height: 40px;
        height: 100%;
        border-left: none; 
    }
    main{
        padding-inline: 30px;
    }
   .left-container{
    width: 100%;
    }
   .menu-burger{
    display: block;
    fill:azure;

   }
   header nav{
  position: relative;
   }
    .button{
        display: block;
        padding-inline: 35px;
        font-size: 16px;
        margin:20px;
    }
    .download-cv{
        align-self: center;
    }
    .skills-page{
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .skills-page .left-container,.right-container{
        width: 100%;
    }
    .contact-page{
      grid-template-columns: 1fr;
      gap:20px;
      width:100%;
    }
    .contact-page .contact-addresses{
      height: 450px;
    }
    .contact-page .contact-form{
        grid-row: 1fr;
    }
    h3{
        text-align: center;
    }
    .skills-card{
        width: 550px;
    }
    .login{
        grid-template-columns: 1fr;
    }
   .login-form{
    width: 100%;
   }
   .blogs-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   }
   .search-bar{
    margin-top: 50px;
   flex-direction: column;
  }
  .search-bar .search-control{
    width: 100%;
  }
  .search-bar .sort-control{
   
  }
  .home-page .right-container .home-img{
    margin-inline: auto;
  }
  .signup{
    display: grid;
    grid-template-columns: 1fr;

  }
  .signup-form{
    width:100%;
    grid-column: 1fr;
    margin-top: 0;
    padding: 10px 20px;
    margin-top: 40px;
  }
  .signup-note{
    grid-column:1fr;
    /* grid-row:1fr;  */
  }

}