*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}
a{
  color:#000;
  text-decoration: none;
  cursor: pointer;
}
img{
  vertical-align: center;
  width: 100%;
  height: auto;
}
:root{
    --primary-color:#FF6000;
    --navBackground-color:#3D3F3C;
    --nav-color:#F5F5F5;
    --border-radius-size:5px;
}
html{
  font-size: 18px;
}
body{
     font-family:'inria Sans',sans-serif;
     
   
}
 h2 {
  font-size:3rem;
}
h3{
 font-size: 2rem;
}
main{
  padding:20px 50px;
}
 h2 span{
    font-family: 'Irish Grover', system-ui;
    color: var(--primary-color);
 }
 header{
  display: flex;
 }
 #logout{
  align-items:center;
  gap:10px;
  width:fit-content;
  position: relative;
}
#logout i,span{
  display: block;
}
#logout i{
  font-size:26px;
}
 #dropDownbtnNav{
  width:fit-content;
  background:#d9d9d9;
  box-shadow:0 0 5px 2px rgba(0,0,0,0.5);
  border-radius:10px;
  position:absolute;
  bottom:-40px;
  right:0;
  z-index: 1000;
  display:none;
}
#dropDownbtnNav button{
  padding:8px 16px;
  border:0;
  outline:none;
  background:var(--primary-color);
  color:white;
  border-radius:inherit;
  font-size:16px;
  cursor: pointer;
  transition:all ease-in .3sec;
}
#dropDownbtnNav button:hover{
  transform:scale(1.1);
}


 header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background: var(--navBackground-color);
    color: var(--nav-color);
    font-weight: 400;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1111;
   
 }

    .menu-burger{
      width:40px;
      height: 40px;
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius-size);
      display: none;
    }
    .menu-burger:hover{
      transform: scale(1.1);
    }
    
    .menu-burger img{
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right:0;
    }

 header nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    height: 100%;
    align-items: center;
 }
 header nav ul li a{
    padding-left:5px;
    border-left: solid 1px var(--nav-color);
    color: var(--nav-color);
    text-decoration: none;
    transition:all ease-in .1sec;
 }
 
 .logo{
    width:60px;
    height: auto;
 }
 
  .logo img{
   max-width:100%;
   height: auto;
  }
  header nav ul .active{
    color: #FF6000;
  }
  .home-page{
    display:flex;
    padding:20px 0;
    gap:50px;
  }

  .home-page .right-container{
    padding:50px 20px;

  }
  .home-page .right-container .home-img{
    width:400px;
    overflow: hidden;
    border-bottom: solid #FF6000 3px;
    border-radius: 20px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
    
  }
  .download-cv{
    color:var(--primary-color);
    justify-self: flex-end;
    align-self: flex-start;
  }

  .home-page .right-container .home-img img{
    max-width:100%;
    height: auto;
    
    border-radius: inherit;
  } 
  .home-page .left-container{
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content:center;
    align-items: center;
    padding:50px 0;
    position: relative;
    margin-top: 50px;
  }
  .home-page .left-container a{
    text-decoration: none;
  }
  .button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--primary-color);
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .button--secondary{
    color: var(--nav-color);
  }
  .button--primary{
    background: var(--nav-color);
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
  }

  nav ul a:hover{
    font-size: 1rem;
  }
  

  /* skills-page*/
  .skills-page{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
  }
   .skills-page .left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    
  }
   .skills-page .left-container h3{
    color: var(--primary-color);
    font-size: 32px;
  }
  .skills-page .right-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
   gap: 20px;
  }

  .skills-card{
    display: flex;
    flex-direction: column;
    border: var(--primary-color) 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
    width: 250px;
    gap:10px;
  }
  .skills-card i{
    font-size: 40px;
    color: #FF6000;
  }
  .portfolio-page{
    display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.01);
  }
  .portfolio-page .work-title{
    font-size: 2.2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  .portfolio-page .works-display{
    display: flex;
    overflow-x: scroll;
    gap:20px;
  }

.works-display::-webkit-scrollbar{
  width:10px;
}

  .portfolio-page i{
    display: block;
    display: flex;
  align-items:center;
  color: var(--primary-color);

  }
  
 .portfolio-page .work-card{
   min-width:200px;
    border:solid var(--primary-color) 1px;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
     justify-content:space-between;
     border-radius: 8px;
  }

   /* contact me */
   #editor{
    width:100%;
    height: 150px;
   }

  .contact-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width:60%;
    margin-inline: auto;
    margin-top: 30px;
    height: fit-content;
   border-radius: var(--border-radius-size);
  
   box-shadow: 0 0 10px rgba(0,0, 0, 0.5);

  }
  .contact-page .contact-addresses{
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    color: #ffff;
    gap:40px;
    grid-column: 1fr;
    padding: 20px 30px 0 30px;
  }
  

  .contact-page .contact-addresses .social-icons{
    width: fit-content;
    align-self: center;
    font-size: 2rem;

  }
  .contact-page .contact-addresses .social-icons i{
    margin-right: 10px;
  }
  .contact-page .contact-form{
    grid-column: 1fr;
    padding: 20px 30px;
  
  }

  .contact-page .contact-form form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;  
    gap: 10px;
    border-radius:8px;
    padding:10px 20px;
  }
  .contact-page .contact-form form .input-control input{
    width:100%;
    outline: none;
    border:none;
    height:30px;
    border-radius: var(--border-radius-size);
    padding:10px 20px;
  }
  .contact-page .contact-form form .input-control >textarea{
    width:100%;
    outline: none;
    border:none;
    border-radius: var(--border-radius-size);
    padding:10px 20px;
  }
  .contact-page .contact-form form .input-control input:focus{
    border:1px solid var(--primary-color);
  }
  .contact-page .contact-form .btn{
    width: fit-content;
    padding: 8px 8px;
    background-color: var(--primary-color);
    color: var(--nav-color);
    border: 0;
    outline: none;
    border-radius: var(--border-radius-size);
    font-size: 1rem;
    cursor: pointer;
    transition:.3sec ease-in;
  }
  .contact-page .contact-form .btn:hover{
    opacity: 0.8;
    transform:scale(1.1)
  }
  .contact-page h4{
    font-size: 28px;
  }
  .contact-page .contact-form h4{
    color: var(--primary-color);
    margin-bottom: 20px;
  }
 .error-messages{
  font-size:12px;
  color:red;
  margin-top:5px;
  margin:auto;
 }
 .contact-page .contact-form .success-message{
  width:fit-content;
  padding: 5px 6px;
  background-color: green;
  color: #ffff;
  display: none;
  border-radius: 5px;
  margin:auto;
 }
 .contact-page .contact-form .fail-message{
  width:fit-content;
  padding: 5px 6px;
  background-color:red;
  color: #ffff;
  display: none;
  border-radius: 5px
 }

  /* footer */
 .footer{
  height: 50px;
  background:var(--navBackground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
footer div{
  width: fit-content;
  font-size:1.5rem;
  color:var(--primary-color);
}

  /* blog  */
  .blogs-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px 0;
    margin-top:30px;
  }
  .blog-img{
    max-width: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    
  }
  .blog-img img{
    max-width: 100%;
    height: auto;
    border-radius: inherit;
    object-fit:cover;
  
  }
  .blogs-container .auth i{
  font-size:20px;
  }
  .blogs-container .date,.auth-name{
    color:#9d9e9d;
    font-size:10px;
  }
  .blogs-container .auth img{
   width: 100%;
   height: 100%;
   object-fit:cover;
   position: relative;
   top:0;
    
  }
  .blog{
   max-width:350px;
    display:flex;
    flex-direction: column;
    grid-column: 1fr;
    place-self: center;
    margin-bottom: 20px;
    border: 1px solid rgba(157, 158, 157,0.3);
    padding:20px 30px;
    border-radius: 5px; 

  }
  .blog h4>a{
    margin-bottom: 20px;
    color: black;
    
  }
  .blog h4{
    margin-bottom: 10px;
    
  }
  .readmore{
    padding:8px 12px;
    background: var(--primary-color);
    width: fit-content;
    color: var(--nav-color);
    margin-top:10px;
    border-radius: 5px;
    cursor: pointer;   
  }
  

  /* blog details */
  .blog-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
  .blog-details-img{
    width:600px ;
    border-radius: 5px;
  }
  .blog-details-img img{
    max-width: 100%;
    height: auto;
    border-radius: inherit;
  }
  .blog-detailed{
    display: flex;
    flex-direction: column;
    padding:70px 180px;
    line-height: 1.5;
    position: relative;
  }
  .blog-detailed .login-form{
     position: absolute;
     width: 300px;
     box-shadow:0 0 2px 1300px rgba(0,0,0,0.8);
     /* z-index: -1000; */
     bottom:50px;
     visibility: hidden;
  }
  
  .blog-detailed  textarea{
    border: solid var(--primary-color) 1px;
    border-radius:var(--border-radius-size);
    font-size: 1.2rem;
    padding: 10px;
    width: 50%;
    height:120px;
  }

  .blog-detailed .comment-form button{
    height: 40px;
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 10px 30px;
    background: var(--primary-color);
    outline:0;
    border: 0;
    color: var(--nav-color);
    border-radius:var(--border-radius-size);
    cursor: pointer;
  }
  #comments{ 
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
     justify-content: space-between;
     padding-right: 200px;
     padding-left: 20px;

  }
  #comments a{
    display:flex;
    align-items: center;
    gap:5px;
    color: var(--primary-color);
  
  }
  #comments i:hover{
    transform: scale(1.1);

  }
  .comment-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .comment-title i{
    margin-right: 5px;

  }
  .comment-author{
    display: flex;
    align-items: center;
  }

  .blog-detailed .auth-card i{
    font-size: 40px;
    margin-right: 5px;
  }
  .blog-detailed .auth-card{
    display:flex;
    align-items: center;
  }
  
.blog-detailed .auth-card .date, .auth-name{
  color: #9d9e9d;
  font-size: 1rem;
}

.all-comments .commentsList{
  margin-bottom: 10px;
  width:80%;
  padding: 10px;
  border-radius: 6px;
  overflow-y: scroll;
}
.all-comments .comment-item{
  padding:10px;
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
  border-radius: inherit;
}


  /* portfolio */
  .portfolio-details{
    display:flex;
    flex-direction: column;
  }
  .my-work{
     display: flex;
     gap:20px;
     padding:30px 0;
      width:100vw;
     overflow-x: scroll;
  }

.my-work-title{
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

.register-form span{
  color: var(--primary-color);
  font-weight: bold;
  font-size:20px;
}
.portfolio-forms h3{
margin-bottom: 20px;
color: var(--primary-color);
font-size: 24px;
}

/* login form */
.login{
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.login-form{
  width: 60%;
  max-height:500px;
  margin-inline: auto;
  margin-top: 80px;
  place-self: center;
  padding: 30px 50px;
  border-radius:12px;
  grid-column: 2fr;
  background: #eee;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);

}
.login-note{
  grid-column: 1fr;
  place-self: center;
}
.login-form label{
  display: block;
  margin-top: 30px;
  font-size:16px ;
  font-weight: 600;
  margin-bottom: 10px;
}
.login-form input{
  width: 100%;
  height: 50px;
  border:0;
  outline:none;
  border-radius: 8px;

}
.login-form .btn{
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background: var(--primary-color);
  color:var(--nav-color);
  outline:none;
  border:0;
  margin-top:30px;
  border-radius: 8px;
}
.login h3{
  
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.login-form .text-note{
  margin-top: 20px;
  width: fit-content;
  margin-inline: auto;
}
.login-form .text-note a{
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

a{
  text-decoration: none;
}

.fa-download{
  color:var(--primary-color);
  margin-left:10px;
  font-size:25px;
} 


/* Sign up  page*/

.signup{
  display:grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}
.signup .login-form{
  position:absolute;
  z-index: 100;
  width: 400px;
}
.signup-form{
  width: 60%;
  margin-inline: auto;
  margin-top: 70px;
  place-self: center;
  padding: 20px 50px;
  border-radius:12px;
  grid-column: 2fr;
  background:#eee;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  
}
.signup-note{
  grid-column: 1fr;
  place-self: center;
}
.signup-form label{
  display: block;
  margin-top: 10px;
  font-size:16px ;
  font-weight: 600;
  margin-bottom: 10px;
}
.signup-form input{
  width: 100%;
  height: 40px;
  border:0;
  outline:none;
  border-radius: 8px;

}
.signup .btn{
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  background: var(--primary-color);
  color:var(--nav-color);
  outline:none;
  border:0;
  margin-top:30px;
  border-radius: 8px;
}
.signup h3{
  
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.signup .text-note{
  margin-top: 20px;
  width: fit-content;
  margin-inline: auto;
}
.signup-form .text-note a{
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}



/* Search-bar */
.search-bar{
  margin-top: 80px;
  margin-bottom: 30px;
  width: 100%;
  display:flex;
  padding-inline:30px;
  justify-content: space-between;
}
.search-bar  input, select{
  height: 50px;
  border: 1px  solid #9d9e9d;
  border-radius: var(--border-radius-size);
  outline:0;
}
.search-bar .search-control input{
  width: 100%;
  padding-left:20px;
  font-size: 1.2rem;

}
.search-bar .search-control{
  position: relative;
  width:70%;
  
}
.search-bar .search-control i{
  position: absolute;
  align-self: center;
  right:20px;
 top:20px;
color:#9d9e9d;
font-size: 15px;
}
.search-bar .sort-control{
grid-column: 3fr;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.search-bar .sort-control span{
  font-size: 1.2rem;
  color: #9d9e9d;
}


.collapsible{
  display: none;
}


/* style loader */

#loader {
  display: none;
  width:2rem;
  height: 2rem;
  margin-top: 30px;
  border: 5px solid #f3f3f3;
  border-top: 6px solid var(--primary-color);
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


.createUserMessage{
  width: fit-content;
  padding: 5px 6px;
  margin: auto;
}
