*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
  vertical-align: center;
  width: 100%;
  height: auto;
}
:root{
    --primary-color:#FF6000;
    --navBackground-color:#3D3F3C;
    --nav-color:#F5F5F5;
    --border-radius-size:5px;
}
body{
     font-family:'inria Sans',sans-serif;
     /* font-size: 18px; 
  line-height: 1.8;
      */
}
 h2 {
  font-size:3rem;
}
h3{
 font-size: 2rem;
}
main{
  padding:20px 50px;
}
 h2 span{
    font-family: 'Irish Grover', system-ui;
    color: var(--primary-color);
 }
 header{
  display: flex;
 }
 header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background: var(--navBackground-color);
    color: var(--nav-color);
    font-weight: 400;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1;
   
 }
 .fa-bars{
  display: none;
  font-size: 34px;
  color:var(--primary-color)
 }
    
 header nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    height: 100%;
    align-items: center;
 }
 header nav ul li a{
    padding-left:5px;
    border-left: solid 1px var(--nav-color);
    color: var(--nav-color);
    text-decoration: none;
    transition:all ease-in .1sec;
 }
 
 .logo{
    width:60px;
    height: auto;
 }
 
  .logo img{
   max-width:100%;
   height: auto;
  }
  header nav ul .active{
    color: #FF6000;
  }
  .home-page{
    display:flex;
    padding:20px 0;
    gap:50px;
    
    
  }

  .home-page .right-container{
    padding:50px 20px;

  }
  .home-page .right-container .home-img{
    width:400px;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: solid #FF6000 3px;
    border-radius: 20px;
    
  }
  .download-cv{
    color:var(--primary-color);
    justify-self: flex-end;
    align-self: flex-start;
  }

  .home-page .right-container .home-img img{
    max-width:100%;
    height: auto;
    
    border-radius: inherit;
  } 
  .home-page .left-container{
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content:center;
    align-items: center;
    padding:50px 0;
   /* max-width: 50%; */
    position: relative;
    margin-top: 50px;
  }
  
 
  
  .home-page .left-container a{
    text-decoration: none;
  }
  .button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--primary-color);
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .button--secondary{
    color: var(--nav-color);
  }
  .button--primary{
    background: var(--nav-color);
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
  }

  nav ul a:hover{
    font-size: 1rem;
  }
  

  /* skills-page*/
  .skills-page{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
  }
   .skills-page .left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    
  }
   .skills-page .left-container h3{
    color: var(--primary-color);
    font-size: 32px;
  }
  .skills-page .right-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
   gap: 20px;
  }

  .skills-card{
    display: flex;
    flex-direction: column;
    border: var(--primary-color) 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
    width: 250px;
    gap:10px;
  }



  .skills-card i{
    font-size: 40px;
    color: #FF6000;
  }

  .portfolio-page{
    display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.01)


  }
  .portfolio-page .work-title{
    font-size: 2.2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  .portfolio-page .works-display{
    display: flex;
    overflow-x: scroll;
    gap:20px;
  }

.works-display::-webkit-scrollbar{
  width:10px;
}


  .portfolio-page i{
    display: block;
    display: flex;
  align-items:center;
  color: var(--primary-color);

  }
  
 .portfolio-page .work-card{
   min-width:200px;
    border:solid var(--primary-color) 1px;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
     justify-content:space-between;
     border-radius: 8px;
  }

   /* contact me */

  .contact-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 60%;
    margin-inline: auto;
    margin-top: 30px;
    height: fit-content;
   border-radius: var(--border-radius-size);
   border: 1px solid var(--primary-color);

  }
  .contact-page .contact-addresses{
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    color: #ffff;
    gap:40px;
    grid-column: 1fr;
    padding: 20px 30px 0 30px;
  }
  

  .contact-page .contact-addresses .social-icons{
    width: fit-content;
    align-self: center;
    font-size: 2rem;

  }
  .contact-page .contact-addresses .social-icons i{
    margin-right: 10px;
  }
  .contact-page .contact-form{
    grid-column: 1fr;
    padding: 20px 30px;
    
 
  }
  .contact-page .contact-form form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-page .contact-form form .input-control input, textarea{
    width: 100%;
    outline: none;
    border: 1px solid  var(--primary-color);
    min-height:40px;
    border-radius: var(--border-radius-size);
    padding:10px 20px;
  }
  .contact-page .contact-form .btn{
    width: fit-content;
    padding: 12px 8px;
    background-color: var(--primary-color);
    color: var(--nav-color);
    border: 0;
    outline: none;
    border-radius: var(--border-radius-size);
    font-size: 1.2rem;
  }
  .contact-page h4{
    font-size: 28px;
  }
  .contact-page .contact-form h4{
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
 .footer{
  height: 50px;
  background:var(--navBackground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
footer div{
  width: fit-content;
  font-size:1.5rem;
  color:var(--primary-color);
}
.visible{
  visibility: hidden;
}


  /* blog  */

  .blogs-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px 0;
    margin-top: 70px;
  }
  .blog-img{
    max-width: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    
  }
  .blog-img img{
    max-width: 100%;
    height: auto;
    border-radius: inherit;
    object-fit:cover;
  
  }
  .blogs-container .auth{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;

  }
  .blogs-container .date,.auth-name{
    color:#9d9e9d;
    font-size:10px;
  }
  .blogs-container .auth img{
   width: 100%;
   height: 100%;
   object-fit:cover;
   position: relative;
   top:0;
    
  }
  .blog{
   max-width:350px;
    display:flex;
    flex-direction: column;
    grid-column: 1fr;
    place-self: center;
    margin-bottom: 20px;
    border: 1px solid rgba(157, 158, 157,0.3);
    padding:20px 30px;
    border-radius: 5px;
    

  }
  .blog h4>a{
    margin-bottom: 20px;
    color: black;
    
  }
  .blog h4{
    margin-bottom: 10px;
    
  }
  .readmore{
    padding:8px 12px;
    background: var(--primary-color);
    width: fit-content;
    color: var(--nav-color);
    margin-top:10px;
    
  }
  


  /* blog details */
  .blog-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
  .blog-details-img{
    width:600px ;
    border-radius: 5px;
  }
  .blog-details-img img{
    max-width: 100%;
    height: auto;
    border-radius: inherit;
  }
  .blog-detailed{
    display: flex;
    flex-direction: column;
    padding:70px 180px;
    line-height: 1.5;
  }
  .blog-detailed .comment-form{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .blog-detailed .comment-form label{
    display:block;
    font-weight: 600;
    margin-bottom: 5px;

  }
  .blog-detailed .comment-form form{
  width:70%;
  padding: 20px 30px;

  }
  .blog-detailed .input-control input{
    height: 40px;
    width: 100%;
    outline: none;
    border: solid var(--primary-color) 1px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 10px;
  }
  .blog-detailed  textarea{
    border: solid var(--primary-color) 1px;
    font-size: 20px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
  }
  .blog-detailed .input-control{
    margin-bottom:20px;
  }
  .blog-detailed .comment-form button{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    background: var(--primary-color);
    outline:0;
    border: 0;
    color: var(--nav-color);
    border-radius: 8px;
    cursor: pointer;
  }



  /* portfolio */
  .portfolio-details{
    display:flex;
    flex-direction: column;
  }
  .my-work{
     display: flex;
     gap:20px;
     padding:30px 0;
      width:100vw;
     overflow-x: scroll;
  }

.my-work-title{
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}


.register-form span{
  color: var(--primary-color);
  font-weight: bold;
  font-size:20px;
}
.portfolio-forms h3{
margin-bottom: 20px;
color: var(--primary-color);
font-size: 24px;
}

/* login form */
.login{
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.login-form{
  width: 60%;
  max-height:500px;
  margin-inline: auto;
  margin-top: 80px;
  place-self: center;
  border: solid 1px var(--primary-color);
  padding: 30px 50px;
  border-radius:12px;
  grid-column: 2fr;
  
}
.login-note{
  grid-column: 1fr;
  place-self: center;
}
.login-form label{
  display: block;
  margin-top: 30px;
  font-size:20px ;
  font-weight: 600;
  margin-bottom: 10px;
}
.login-form input{
  width: 100%;
  height: 50px;
  border: var(--primary-color) 1px solid;
  border-radius: 8px;

}
.login-form .btn{
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  background: var(--primary-color);
  color:var(--nav-color);
  outline:none;
  border:0;
  margin-top:30px;
  border-radius: 8px;
}
.login h3{
  
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.login-form .text-note{
  margin-top: 20px;
  width: fit-content;
  margin-inline: auto;
}
.login-form .text-note a{
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

a{
  text-decoration: none;
}

.fa-download{
  color:var(--primary-color);
  margin-left:10px;
  font-size:25px;
} 


/* Sign up  page*/

.signup{
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.signup-form{
  width: 60%;
  margin-inline: auto;
  margin-top: 50px;
  place-self: center;
  border: solid 1px var(--primary-color);
  padding: 30px 50px;
  border-radius:12px;
  grid-column: 2fr;
  
}
.signup-note{
  grid-column: 1fr;
  place-self: center;
}
.signup-form label{
  display: block;
  margin-top: 10px;
  font-size:20px ;
  font-weight: 600;
  margin-bottom: 10px;
}
.signup-form input{
  width: 100%;
  height: 40px;
  border: var(--primary-color) 1px solid;
  border-radius: 8px;

}
.signup .btn{
  width: 100%;
  height: 40px;
  font-size: 24px;
  font-weight: 600;
  background: var(--primary-color);
  color:var(--nav-color);
  outline:none;
  border:0;
  margin-top:30px;
  border-radius: 8px;
}
.signup h3{
  
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.signup .text-note{
  margin-top: 20px;
  width: fit-content;
  margin-inline: auto;
}
.signup-form .text-note a{
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

