*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
  vertical-align: center;
  width: 100%;
  height: auto;
}
:root{
    --primary-color:#FF6000;
    --navBackground-color:#3D3F3C;
    --nav-color:#F5F5F5;
}
body{
     font-family:'inria Sans',sans-serif;
     font-size: 18px;
     min-height: 100vh;
     position: relative;
}
 h2 span{
    font-family: 'Irish Grover', system-ui;
    color: var(--primary-color);
 }
 header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background: var(--navBackground-color);
    color: var(--nav-color);
    font-weight: 400;
    font-size:1.2rem;
   
 }
 header nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    height: 100%;
 }
 header nav ul li a{
    padding-left:5px;
    border-left: solid 1px var(--nav-color);
    color: var(--nav-color);
    text-decoration: none;
    transition:all ease-in .1sec;
 }
 
 .logo{
    width:60px;
    height: auto;
 }
 
  .logo img{
   max-width:100%;
   height: auto;
  }
  header nav ul .active{
    color: #FF6000;
  }
  main{
     display: flex;
     justify-content: space-between;
     padding:0 50px;
  }
  main .right-container{
    padding: 50px 50px;
    
  }
  main .right-container .home-img{
    max-width:550px;
    max-height:740px;
    overflow: hidden;
    padding: 10px;
    border-bottom: solid #FF6000 3px;
    border-radius: 20px;
    
  }

  main .right-container .home-img img{
    max-width:100%;
    height: auto;
    border-radius: inherit;
  } 
  main .left-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  main .left-container h2 {
    font-size:3.5rem;
  }
 
  main .left-container h3{
    font-size: 2.2rem;
  }
  main .left-container a{
    text-decoration: none;
  }
  .button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--primary-color);
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    
  }
  .button--secondary{
    color: var(--nav-color);
  }
  .button--primary{
    background: var(--nav-color);
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
  }

  nav ul a:hover{
    font-size: 1rem;
  }
  .footer{
    background: var(--navBackground-color);
    height:60px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  /* About page */
  .left-container.about{
    justify-content: flex-start;
    gap: 40px;
  }
  .left-container.about h3{
    margin-top: 15px;
    color: var(--primary-color);
  }

  .skills-card{
    display: flex;
    flex-direction: column;
    border: var(--primary-color) 1px solid;
    padding: 10px 20px;
    width:30%;
    border-radius: 5px;
    gap:10px;
  }
  .skills-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about-img{
    overflow: hidden;

  }
  .about-img img{
    max-width: 100%;
    object-fit:cover;
    height:auto;
  }